/* .modal__title-input, .modal__description-input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    opacity: 0.2;
    padding: 13px 0;
    color: black;
} */

/* .form__input, .form__input-edit {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    opacity: 0.2;
    padding: 13px 0;
    color: black;
} */

